*{
    font-family: "BBC Reith Serif", Helvetica, Arial, sans-serif;
}

.header-navbar-container {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
  }

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo{
    font-weight: bold;
    font-size: 1.2rem;
}


.search{
    background-color: white;
    border: 2px solid transparent;
    margin-right: 5px;
    padding: 5px;
}

.menu{
    margin-left: 5px;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    box-sizing: border-box;
    height: 30rem;
    overflow-y: scroll;
    
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a{
    list-style: none;
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    line-height: 25px;
    font-size: 16px;
    display: block;
    position: relative;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #959798;;
}

.dropdown-search {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .dropdown-search input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .dropdown-search button {
    background-color: black;
    border: none;
    padding: 12px;
    cursor: pointer;
  }
  
  .dropdown-search button svg {
    fill: white;
  }

nav ul{
    border-top: 1px solid rgb(230, 232, 234);
    border-bottom: 1px solid rgb(230, 232, 234);
}

nav li{
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
}

nav { 
    line-height: 0;
    background-color: white;
}

nav .home{
    border-bottom: 2px solid;
}

nav .home:hover {
    border-bottom: none;
}

nav li:hover {
    background-color: #959798;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.left{
    display: flex;
}

.center button{
    color: white;
    background-color: black;
    border: 2px solid transparent;
    height: 28px;
}

.register{
    color: white;
    font-weight: bold;
    background-color: black;
    border: 3px solid black;
}

.signIn{
    background-color: transparent;
    color: black;
    border: 2px solid transparent;
}

.signIn:hover {
    font-weight: bold;
    background-color: #2c353e;
    color: white;
}

.container1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 1rem;
    margin: 5px;
    padding: 10px;
    border-bottom: 2px solid rgba(118, 115, 110, 0.228);
    max-width: 1280px;
}

.container1 .item{
    padding: 5px;
    border-bottom: 1px solid rgba(118, 115, 110, 0.228);
}

.container1 .item1{
    grid-row: span 2;
    grid-column: span 1;
}
.container1 .item2{
    grid-row: 3/5;
    grid-column: span 1;
    border: none;
}

.container1 .item3{
    grid-row: span 4;
    grid-column: span 2;
    border: none;
}

.container1 .item7{
    border: none;
}

.container1 .img1{
    width:100%;
}
.container1 .img2{
    width:100%;
}
.container1 .img3{
    width:100%;
}

.container1 .type2{
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
}

.container1 .type1{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

span{
    
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgb(71, 71, 71);
}

.section2{
    max-width: 1280px;
}
.container2{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 5px;
    padding-bottom: 2rem;
    border-bottom: 2px solid rgba(118, 115, 110, 0.228) ;
}
.container2 .item{
    border-bottom: 1px solid rgba(118, 115, 110, 0.228);
}
.container2 .img1{
    width: 100%;
}

.container2 .img2{
    width:100%;
}

.section3{
    max-width: 1280px;    
}

.container3{
    display: grid;
    gap: 1rem;
    padding: 10px;
    margin: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

.container3 .item1{
   grid-template-columns:grid;
   align-items: center;
   align-content: center;
   gap: 12px;
    padding: 16px;
}

.container3 .item2{
   grid-column: span 2;
}
.container3 .img1{
    width: 100%;
    object-fit: cover;
}

.container3 .btn {
    display: inline-block;
    padding: 5px 10px;
    color: black;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid black;
}
.container3 .btn:hover {
    background-color: #08121d;
    color: white;
}

.container4{
    display: flex;
    padding: 10px;
    border-bottom: 2px solid rgba(118, 115, 110, 0.228) ;
}

.container4 .item{
    padding: 5px;
}

.section4{
    max-width: 1280px;    
}

.container5{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 10px;
    margin: 5px;
}

.container5 .item{
    border-bottom: 1px solid rgba(118, 115, 110, 0.228);
}

.container5 .item1{
   grid-column: 1/4;
   grid-row: 1/2;
   display: grid;
    gap: 1rem;
    margin: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

.container5 .text-sec{
    grid-template-columns:grid;
    align-items: center;
    align-content: center;
    padding: 16px;
 }
 
 .container5 .img-sec{
    grid-column: span 2;
 }
 .container5 .img1{
     width: 100%;
     object-fit: cover;
 }

.container5 .item2{
    grid-column: 4/5;
    grid-row: 1/2;
}

.container5 .img{
    width: 100%;
}

.container5 .item6{
    border: none;
}

/* .must-watch {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.must-watch h2 {
    margin-top: 0;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.video {
    min-width: 100%;
    box-sizing: border-box;
}

.video img {
    width: 100%;
    border-radius: 4px;
}

input[type="radio"] {
    display: none;
}

#slide1:checked ~ .slides {
    transform: translateX(0%);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.navigation label {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
} */

.section6{
    max-width: 1280px;   
}

.container7{
    display: grid;
    gap: 1rem;
    margin: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    border-bottom: 2px solid black;
}

.container7 .item1{
   grid-template-columns:grid;
   align-items: center;
   align-content: center;
   gap: 12px;
    padding: 16px;
}

.container7 .item2{
   grid-column: span 2;
}
.container7 .img1{
    width: 100%;
    object-fit: cover;
}

.container7 .btn {
    display: inline-block;
    padding: 5px 10px;
    color: black;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid black;
}
.container7 .btn:hover {
    background-color: #08121d;
    color: white;
}

.section7{
    max-width: 1280px; 
}

.container8{
    display: grid;
    gap: 1rem;
    margin: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.container8 .item1{
   grid-template-columns:grid;
   align-items: center;
   align-content: center;
   gap: 12px;
    padding: 16px;
}

.container8 .item2{
   grid-column: span 2;
}
.container8 .img1{
    width: 100%;
    object-fit: cover;
}

.container8 .btn {
    display: inline-block;
    padding: 5px 10px;
    color: black;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid black;
}
.container8 .btn:hover {
    background-color: #08121d;
    color: white;
}

.section8{
    max-width: 1280px; 
}

.container9{
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 1rem;
    margin: 5px;
    padding: 10px;
}

.container9 .item1{
    grid-column: 1/2;
    grid-row: 1/6;
    border-top: 2px solid black;
}
.container9 .item2{
    grid-column: 2/3;
    grid-row: 1/6;
    border-top: 2px solid black;
}
.container9 .item3{
    grid-column: 3/4;
    grid-row: 1/6;
    border-top: 2px solid black;
}
.container9 .item4{
    grid-column: 4/5;
    grid-row: 1/6;
    border-top: 2px solid black;
}

.container9 .img{
    object-fit: contain;
    width: 100%;
}

.container9 .news{
    border-bottom: 1px solid rgba(118, 115, 110, 0.228);
    margin: 10px;
}

.container9 p{
    font-size: 14px;
}

.section9{
    max-width: 1280px;  
    background-color: black; 
    color: white;
    padding: 10px;
}

.container10{
    display: grid;
    gap: 1rem;
    margin: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 2px solid white;
    padding: 10px;
}

.container10 .item1{
   grid-template-columns:grid;
   align-items: center;
   align-content: center;
   gap: 12px;
   padding: 16px;
}

.container10 .item2{
   grid-column: 1/3;
}
.container10 .img1{
    width: 100%;
    object-fit: cover;
}

.container10 .btn {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid white;
}
.container10 .btn:hover {
    background-color: white;
    color: black;
}

.section8{
    max-width: 1280px; 
}

.container9{
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 1rem;
    margin: 5px;
    padding: 10px;
}

.container9 .item1{
    grid-column: 1/2;
    grid-row: 1/6;
    border-top: 2px solid black;
}
.container9 .item2{
    grid-column: 2/3;
    grid-row: 1/6;
    border-top: 2px solid black;
}
.container9 .item3{
    grid-column: 3/4;
    grid-row: 1/6;
    border-top: 2px solid black;
}
.container9 .item4{
    grid-column: 4/5;
    grid-row: 1/6;
    border-top: 2px solid black;
}

.container9 .img{
    object-fit: contain;
    width: 100%;
}

.container9 .news{
    border-bottom: 1px solid rgba(118, 115, 110, 0.228);
    margin: 10px;
}

.container9 h3{
    font-family: "BBC Reith Serif", Helvetica, Arial, sans-serif;
}

.container9 p{
    font-size: 14px;
}